.searchControl{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.vertical-center {
  // margin: 0;
  // position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
}

p{
  //margin-top: 50px;
  font-weight: bold;
}

thead tr {
  background-color: rgb(72, 84, 117);
  font-weight: bold;
}

img {
  // float: right;
}

label {
  font-weight: bold;
}

#containerBody {
  margin-top: 100px;
}

.controlBody {
  margin-top: 10px;
}
